#root {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
}

.card {
  border: 2px blue solid; 
  background-color: antiquewhite;
  width: 90%;
  height: 600px;
}

.input__name {
margin-top: -70px;

}
.input{
  display: block;
  margin: 30px auto;
  width: 80%;
  border-radius: 10px;
  height: 25px;
  border: 2px solid blueviolet;
}
.input_button:hover, .answers:hover, .result-button:hover {
  background-color: blueviolet;
  color: white;
}

.delete-button { 
border-radius: 50%;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.answers {
  display: block;
  margin: 10px auto;
  width: 250px;
  border-radius: 10px;
  height: 30px;
  border: 2px solid blueviolet;
  padding-top: 0px;
  text-align: center;
}

.correct {
  background-color: rgb(76, 177, 45);
}
.incorrect {
  background-color: rgb(237, 13, 13);
}

.question {
  font-size: 25px;
  font-weight: 700;
}

.score {
  background-color: blueviolet;
  color: white;
  font-weight: 600;
  padding: 10px;
  width: 50%;
  margin: 60px auto 0;
  border-radius: 30px;


}

.final-score {
  font-weight: 800;
  margin: 30px;
}

@media screen and (min-device-width: 480px) {
  #root{
    max-width: 1280px;
    padding: 2rem;
  }

  .card {
    border: 2px red solid; 
    background-color: aquamarine;
    width: 400px;
    height: 600px;
  }
  
}