#root {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
 
}

.card {
  border: 2px #F8F0E5 solid; 
  background-color: #F8F0E5;
  width: 100%;
  height: 600px;
  position: relative;
  min-width: 320px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input__name {
margin-top: -70px;

}
.input{
  display: block;
  margin: 30px auto;
  width: 80%;
  border-radius: 10px;
  height: 25px;
  border: 2px solid #0F2C59;
}
.input_button:hover, .answers:hover, .result-button:hover {
  background-color: #0F2C59;;
  color: white;
}

.delete-button { 
border-radius: 50%;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.answers {
  display: block;
  margin: 10px auto;
  width: 250px;
  border-radius: 10px;
  height: 30px;
  border: 2px solid #0F2C59;;
  padding-top: 0px;
  text-align: center;
}

.correct {
  background-color: rgb(76, 177, 45);
}
.incorrect {
  background-color: rgb(237, 13, 13);
}

.question {
  width: 320px;
  font-size: 25px;
  font-weight: 700;
  margin: 70px auto 100px; 
}

.score {
  background-color: #0F2C59;;
  color: white;
  font-weight: 600;
  padding: 10px;
  width: 50%;
  border-radius: 30px;
  position: absolute;
  bottom: 30px;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
}

.congrats {
  margin-top: 100px;
}

.input__name__div{
margin-top: 150px;
}

.input__welcome {
  margin: 50px 10px 0;
  color: #0F2C59;;
}

.input__text{
  margin: 30px 10px;
}
.final-score {
  font-weight: 800;
  margin: 30px;
}

.ifCorrect {
  font-weight: bold;
}

@media screen and (min-device-width: 480px) {
  #root{
    max-width: 1280px;
    padding: 2rem;
  }

  .card {
    width: 400px;
    height: 600px;
  }
  
}